.layout-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 72px 1fr;
  grid-template-rows: 110px 1fr;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 20px 32px 32px 32px;
}

.sidebar {
  background: #fff;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.05);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.content {
  padding: 0px 32px 32px 32px;
  overflow-y: scroll;
}
