.name {
  font-size: 14px;
  font-weight: 600;
}

.location {
  font-size: 10px;
  font-weight: 500;
}

.school {
  font-size: 10px;
  font-weight: 300;
}

.hashtags {
  font-size: 8px;
  font-weight: 400;
}
