@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1d4ed8;
  --secondary-color: #000000;
  --category-color: #037092;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9faff;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

small {
  font-size: 8px;
}

p {
  font-size: 14px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
}

h4 {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}
